<div class="grid-container">
<div class="item1">
<h1>Patients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Details</th>
      <th>Email</th>
      <th>Appointment</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.age %></td>
        <td><%= patient.details %></td>
        <td><%= patient.email %></td>
        <td><%= patient.appointment %></td>
        <td><%= patient.user.username %></td>
        <% if current_user %>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <% end %>
        <% if current_user && current_user.admin %>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>
<div class="item2">
<h1>New Patient</h1>
<%= render 'form', patient: @patient %>
</div>
</div>