<!DOCTYPE html>
<html>
  <head>
    <title>DocSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <%= render 'layouts/alerts' %>
    <% if current_user %>
      <%= link_to 'Appointments Schedule', meetings_path %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %>
      <%= link_to 'Sign In', new_user_session_path %>
    <% end %>
    <%= yield %>

  </body>
</html>
